{{template "base/head" .}}
<div class="dashboard feeds">
	{{template "user/dashboard/navbar" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<div class="ui mobile reversed stackable grid">
			{{template "user/dashboard/repolist" .}}
			<div class="ui container ten wide column">
				{{/*
				{{if .EnableHeatmap}}
					{{template "user/dashboard/heatmap" .}}
					<div class="ui divider"></div>
				{{end}}
				*/}}
				{{template "user/dashboard/feeds" .}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
