<script src="/x/static/main.js"></script>

<template id="template-cluster-info">
<div class="x">
<div class="x-row">
<pre class="cluster-config">
  CLUSTER-CONFIG...

    TYPE  : couchbase-cluster/TestDrive.0001

    NODES : 1
</pre>
<pre class="cluster-status">
  CLUSTER-STATUS...

    STATUS          : changed...
                        not approved
                        not deployed
                        unavailable

    WEB UI console  : unavailable

    SDK endpoints   : unavailable

    NODES current   : 0
    NODES pending   : 0
    NODES warming   : 0
</pre>
</div>
</div>
</template>
