<script src="/x/static/main.js"></script>

<template id="template-cluster-config">
<div class="x">
<pre class="cluster-config">
  CLUSTER-CONFIG...

    TYPE            : couchbase-cluster/TestDrive.0001

    STATUS          : unavailable, not deployed, not approved

    WEB UI console  : unavailable

    SDK endpoints   : unavailable

    NODES wanted    : 1
    NODES current   : 0
    NODES pending   : 0
    NODES warming   : 0
</pre>
</div>
</template>

<style>
.x .cluster-config {
  margin: 20px 0px 40px 0px;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  border-radius: .28571429rem;
  padding: 40px 40px 40px 40px;
}
</style>