.x .cluster-config .catalogItemName {
  margin-bottom: 10px;
  font-weight: bold;
}

.x .cluster-config .catalogItemKey {
  font-size: 8pt;
  font-family: monospace;
  font-style: italic;
}

.x .cluster-config .view .pane {
  margin-left: 10px;
  margin-bottom: 40px;
}

.x .cluster-config .view .catalogItemKey {
  margin-left: 10px;
  margin-bottom: 10px;
}

.x .cluster-config .view .pane ul.catalogItemDesc {
  margin-bottom: 30px;
}

.x .cluster-config .view .pane table.fields {
  margin-bottom: 20px;
}

.x .cluster-config .view .pane table.fields td {
  padding: 5px 10px 5px 10px;
  border: 1px solid #888;
}

.x .cluster-config .view .pane table.fields td.label {
  font-style: italic;
}

.x .cluster-config .edit .edit-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.x .cluster-config .edit .edit-cols > ul.catalogItems {
  flex-basis: 25rem;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 50px;
  max-height: 60vh;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow-y: scroll;
}

.x .cluster-config .edit .edit-cols > ul.catalogItems > li {
  border: 1px solid #ddd;
  padding: 0 0 0 0;
}

.x .cluster-config .edit .edit-cols > ul.catalogItems > li > label {
  display: flex;
  padding: 20px 20px 20px 20px;
  flex-direction: row;
  justify-content: flex-start;
}

.x .cluster-config .edit .edit-cols > ul.catalogItems > li:hover {
  background-color: #f4f8f4;
}

.x .cluster-config .edit .edit-cols > ul.catalogItems > li > label > .labelInput {
  display: block;
  margin-right: 5px;
  flex-grow: 0;
}

.x .cluster-config .edit .edit-cols > ul.catalogItems > li > label > .labelMain {
  flex-grow: 1;
}

.x .cluster-config .edit .edit-cols > ul.catalogItems .catalogItemDesc {
  margin-left: 20px;
  margin-bottom: 10px;
}

.x .cluster-config .edit .edit-cols > ul.catalogItems .catalogItemKey {
  margin-left: 20px;
}

.x .cluster-config .edit .edit-cols > ul.edit-panels {
  flex-basis: 20rem;
  flex-grow: 10;
  padding-top: 20px;
}

.x .cluster-config .edit .edit-cols > ul.edit-panels > li {
  display: none;
}

.x .cluster-config .edit .edit-cols > ul.edit-panels > li label {
  display: block;
  padding: 5px 10px 20px 10px;
}

.x .cluster-config .edit .edit-cols > ul.edit-panels > li label input {
  display: block;
}

.x .cluster-config .edit .edit-cols > ul.edit-panels > li label input.nodes {
  width: 4em;
}

.x .cluster-config .edit .edit-cols > ul.edit-panels > li label input.mdsSpec {
  width: 30em;
}

.x .cluster-config .edit .edit-cols > ul.edit-panels > li label input.sgwNodes {
  width: 4em;
}

.x .cluster-config .edit .edit-cols > ul.edit-panels > li label.ez-learn_couchbase_v1.ez_couchbase_v1.nodes {
  display: none;
}

.x .cluster-config .edit .edit-cols > ul.edit-panels > li label.ez-learn_couchbase_v1.ez_couchbase_v1.nodes.errs {
  display: block;
}

.x .cluster-config .edit .edit-cols > ul.edit-panels > li label .desc {
  font-size: 7pt;
  font-style: italic;
}

.x .cluster-config .edit .edit-cols > ul {
  padding-left: 0;
}

.x .cluster-config .edit .edit-cols > ul > li {
  list-style: none;
}

.x .cluster-config .edit .edit-cols label span.err {
  margin-left: 0.7em;
  color: red;
}

.x .cluster-config .edit .controls {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  text-align: right;
}

.x .cluster-config .edit .controls button {
  margin-right: 10px;
}
